.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .hidden {
    visibility: hidden;
  }

  mat-toolbar {
    color: white !important;
    background: #FF9771 !important;
    background: -webkit-linear-gradient(90deg, #FF9771, #FF81A3) !important;
    background: linear-gradient(90deg, #FF9771, #FF81A3) !important;
    background: -moz-linear-gradient(90deg, #FF9771, #FF81A3) !important;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .main-sidenav-container {
    flex: 1;
  }

  .mat-sidenav-content {
    overflow: hidden !important;
    background: #f1f1f1 !important;
  }

  button.menu-button {
    color: inherit;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .breadcrumb {
    color: rgba(76, 78, 100, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 24px;

    button {
      color: white !important;
    }

    span {
      color: white !important;
    }
  }

  mat-sidenav-container {
    height: calc(100vh - 64px);

    .mat-sidenav {
      width: 280px;
      display: flex;

      .mat-drawer {
        overflow-x: hidden !important;
      }
    }
  }

  .content {
    padding: var(--spacing-12);
  }
}
