<ng-container *ngIf="_type" [ngSwitch]="_type">
  <lib-manage-job-category *ngSwitchCase="'job-category'"></lib-manage-job-category>
  <lib-manage-job-sub-category *ngSwitchCase="'job-sub-category'"></lib-manage-job-sub-category>
  <lib-manage-job-type *ngSwitchCase="'job-type'"></lib-manage-job-type>
  <lib-manage-job-status *ngSwitchCase="'job-status'"></lib-manage-job-status>
  <lib-manage-city-village *ngSwitchCase="'city-village'"></lib-manage-city-village>
  <lib-manage-district *ngSwitchCase="'district'"></lib-manage-district>
  <lib-manage-state *ngSwitchCase="'state'"></lib-manage-state>
  <lib-manage-country *ngSwitchCase="'country'"></lib-manage-country>
  <lib-manage-service *ngSwitchCase="'service'"></lib-manage-service>
  <lib-manage-business *ngSwitchCase="'business'"></lib-manage-business>
  <lib-manage-gender *ngSwitchCase="'gender'"></lib-manage-gender>
  <lib-manage-caste *ngSwitchCase="'caste'"></lib-manage-caste>
  <lib-manage-relationship *ngSwitchCase="'relationship'"></lib-manage-relationship>
  <lib-manage-religion *ngSwitchCase="'religion'"></lib-manage-religion>
  <lib-manage-gotra *ngSwitchCase="'gotra'"></lib-manage-gotra>
  <lib-manage-raasi *ngSwitchCase="'raasi'"></lib-manage-raasi>
  <lib-manage-education-degree *ngSwitchCase="'education-degree'"></lib-manage-education-degree>
  <lib-manage-addition *ngSwitchCase="'addiction'"></lib-manage-addition>
  <lib-manage-marital-status *ngSwitchCase="'marital-status'"></lib-manage-marital-status>
  <lib-manage-contact-type *ngSwitchCase="'contact-type'"></lib-manage-contact-type>
  <lib-manage-address-type *ngSwitchCase="'address-type'"></lib-manage-address-type>
  <lib-manage-faq-category *ngSwitchCase="'faq-category'"></lib-manage-faq-category>
  <lib-manage-post *ngSwitchCase="'post'"></lib-manage-post>
</ng-container>
