<div *ngIf="loader" class="loading-indicator">
  <mat-progress-spinner color="primary" diameter="60" mode="indeterminate" strokeWidth="5"></mat-progress-spinner>
</div>
<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="event">Event</a></li>
  <li><a routerLink="facility">Facility</a></li>
  <li><a routerLink="family">Family</a></li>
  <li><a routerLink="job">Job</a></li>
  <li><a routerLink="lov">Lov</a></li>
  <li><a routerLink="mandal">Mandal</a></li>
  <li><a routerLink="matrimonial">Matrimonial</a></li>
  <li><a routerLink="news">News</a></li>
  <li><a routerLink="temple">Temple</a></li>
</ul>
<router-outlet></router-outlet>
