cms-api/media-files/admin/*.*
cms-api/media-files/family/*.*
cms-api/media-files/job/*.*
cms-api/media-files/lovs/*.*
cms-api/media-files/news/*.*
cms-api/media-files/temple/*.*
cms-api/media-files/uploads/*.*
cms-api/.env
cms-api/node_modules/
cms-api/.idea/
cms-api/package-lock.json

cms/node_modules/
cms/.idea/*.*
cms/package-lock.json
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/vsd-app.iml
/.idea/inspectionProfiles/Project_Default.xml
migrations/.DS_Store
