/client/node_modules/
/client/.angular/
/client/.nx/
/client/.idea/
/client/.vscode/
/client/package-lock.json

/web-app/node_modules/
/web-app/.angular/
/web-app/.nx/
/web-app/.idea/
/web-app/.vscode/
/web-app/package-lock.json

/shared-library/node_modules/
/shared-library/.idea/
/shared-library/.nx/
/shared-library/.vscode/
/shared-library/dist/
/shared-library/package-lock.json

/server/.idea/
/server/.nx/
/server/dist/
/server/node_modules/
/server/logfile
/server/package-lock.json
/server/.vscode/

/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/vsd-app.iml

/media-files/*.*
/media-files/event/*.*
/media-files/facility/*.*
/media-files/mandal/*.*
/media-files/temple/*.*
/infra/.main.env
