<mat-list-item
        [ngStyle]="{'padding-left': (depth * 12) + 'px'}"
        (click)="onMenuClick(item)"
        class="menu-list-item" routerLinkActive="is-active">
    <mat-icon fontSet="material-icons-outlined" class="routeIcon text-responsive">{{item.iconName}}</mat-icon>
    <span>{{item.title}}</span>
    <span fxflex class="twistie-separator"></span>
    <span *ngIf="item.children && item.children.length"
          (click)="expanded = !expanded">
            <mat-icon  class="menu-twistie" *ngIf="!expanded">
              expand_more
            </mat-icon>
        <mat-icon class="menu-twistie" *ngIf="expanded">
              expand_less
            </mat-icon>
          </span>
</mat-list-item>
<div *ngIf="expanded">
    <app-side-menu class="menu-child" *ngFor="let child of item.children"
                   [item]="child" [depth]="depth+1"></app-side-menu>
</div>
