@import "../../../../theme/padding";
@import "../../../../theme/margin";
@import "../../../../theme/variable";
@import "../../../../theme/gradient";

::ng-deep{
  .mat-tab-label{
    height: 60px !important;
  }
  .mat-tab-label .mat-tab-label-content {
    row-gap: 5px !important;
    column-gap: 5px !important;
    flex-direction: column !important;
  }
  .mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
    @extend .gradient-45deg-indigo-purple;
    color: white !important;
    border-radius: 0 5px 5px 0;
  }
}

.basic-info-h {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 40px;

  img {
    width: 100px !important;
    height: 100px !important;
    padding: $padding-x-small;
    background-color: lightgray;
    border-bottom-color: #3f51b5;
  }
  .details{
    h2{
      margin: 0 !important;
    }
    @extend .m-l-large;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}


@media only screen and (min-width: 144px) {
  .basic-info-h {
    padding: 20px 30px !important;
    gap: 20px !important;
  }
}

@media only screen and (min-width: 544px) {
  .basic-info-h {
    padding: 20px 20px !important;
    gap: 20px !important;
  }
}

@media only screen and (min-width: 644px) {
  .basic-info-h {
    padding: 20px 40px !important;
    gap: 30px !important;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media only screen and (min-width: 768px) {
  .basic-info-h {
    padding: 20px 40px !important;
    gap: 30px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .basic-info-h {
    padding: 20px 40px !important;
    gap: 40px !important;
  }
}
