<ng-container *ngIf="!familyDetailModel && noData">
  <app-no-data-found [image]="'assets/errors/error-2.png'" [title]="" [message]=""
                     (buttonClick)="goToFamilyList($event)"></app-no-data-found>
</ng-container>
<ng-container *ngIf="familyDetailModel">
  <mat-card class="basic-info-h" *ngIf="familyDetailModel.familyObj">
    <img *ngIf="familyDetailModel.familyObj.imagePath && familyDetailModel.familyObj.imagePath.length > 0"
         class="avatar"
         src="{{familyDetailModel.familyObj.imagePath[0].webUrl}}"/>

    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" style="width: 90%">
      <div fxFlex="calc(25%)"
           fxFlex.lt-lg="calc(25%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%">
        <div class="details">
          <h4>{{familyDetailModel.familyObj.firstName}} {{familyDetailModel.familyObj.middleName}} {{familyDetailModel.familyObj.lastName}}</h4>
          <span class="red-text">{{familyDetailModel.familyObj.cityVillage}}</span>
        </div>
      </div>
      <div fxFlex="calc(25%)"
           fxFlex.lt-lg="calc(25%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%">
        <div class="details">
          <span><span class="w-500">{{stringRes.EMAIL_ID}} : </span>{{familyDetailModel.familyObj.emailId}}</span>
          <span><span class="w-500">{{stringRes.CONTACT_NUMBER}}
            : </span>{{familyDetailModel.familyObj.contactNo}}</span>
        </div>
      </div>
      <div fxFlex="calc(25%)"
           fxFlex.lt-lg="calc(25%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%">
        <div class="details">
        <span><span class="w-500">{{stringRes.APPROVAL_STATUS}} : </span><span
          class="p-x-small w-500 border-small {{familyDetailModel.familyObj.isApproved === true?'green-bg green-text':'red-bg red-text'}}">{{familyDetailModel.familyObj.isApproved === true ? stringRes.APPROVED : stringRes.PENDING}}</span></span>
          <span><span class="w-500">{{stringRes.APPROVED_BY}} : </span><app-admin-short-info
            [adminShortInfo]="familyDetailModel.familyObj.approvedBy"></app-admin-short-info> </span>
        </div>
      </div>
      <div fxFlex="calc(25%)"
           fxFlex.lt-lg="calc(25%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%">
        <div class="details">
        <span><span class="w-500">{{stringRes.STATUS}} : </span><span
          class="p-x-small w-500 border-small {{familyDetailModel.familyObj.active === true?'green-bg green-text':'red-bg red-text'}}">{{familyDetailModel.familyObj.active === true ? stringRes.ACtIVE : stringRes.IN_ACTIVE}}</span></span>
        </div>
      </div>
    </div>
    <button mat-icon-button color="primary" (click)="editFamily()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>

  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" class="m-t-medium" fxLayoutGap="12px">
    <div fxFlex="calc(20%)"
         fxFlex.lt-lg="calc(20%)"
         fxFlex.lt-md="calc(20%)"
         fxFlex.lt-sm="100%">
      <mat-card style="padding-left: 0">
        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option [value]="0" (click)="activeTab = 0">
            <mat-icon fontSet="material-icons-outlined" mat-list-icon>person</mat-icon>
            <div mat-line>{{stringRes.PERSONAL_DETAIL}}</div>
          </mat-list-option>
          <mat-list-option [value]="4" (click)="activeTab = 4">
            <mat-icon fontSet="material-icons-outlined" mat-list-icon>import_contacts</mat-icon>
            <div mat-line>{{stringRes.CONTACT_DETAIL}}</div>
          </mat-list-option>
          <mat-list-option [value]="2" (click)="activeTab = 2">
            <mat-icon fontSet="material-icons-outlined" mat-list-icon>menu_book</mat-icon>
            <div mat-line>{{stringRes.ADDRESS_DETAIL}}</div>
          </mat-list-option>
          <mat-list-option [value]="1" (click)="activeTab = 1">
            <mat-icon fontSet="material-icons-outlined" mat-list-icon>business_center</mat-icon>
            <div mat-line>{{stringRes.PROFESSIONAL_DETAIL}}</div>
          </mat-list-option>
          <mat-list-option [value]="3" (click)="activeTab = 3">
            <mat-icon fontSet="material-icons-outlined" mat-list-icon>diversity_1</mat-icon>
            <div mat-line>{{stringRes.MATRIMONIAL}}</div>
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </div>
    <div fxFlex="calc(78%)"
         fxFlex.lt-lg="calc(78%)"
         fxFlex.lt-md="calc(78%)"
         fxFlex.lt-sm="100%">
      <app-family-personal-detail *ngIf="activeTab === 0"
                                  [familyProfile]="familyDetailModel.profileObj">
      </app-family-personal-detail>
      <app-family-addresses *ngIf="activeTab === 2"></app-family-addresses>
      <app-family-contact-details *ngIf="activeTab === 4"
                                  [familyContactNumberList]="familyDetailModel.contactNumberList"
      [familyId]="familyDetailModel.familyObj.id"></app-family-contact-details>
      <app-family-professional-detail *ngIf="activeTab === 1"></app-family-professional-detail>
      <app-family-matrimonial-detail *ngIf="activeTab === 3"></app-family-matrimonial-detail>
    </div>
  </div>
</ng-container>
