<div class="login-container gradient-orange-pink">
  <div class="login-box">
    <img src="../../../assets/logo/vishwakarma.jpg">
    <div class="title-section">
      <vsd-ui-label [class]="'title'" [label]="labelService.getLabel(labelKeys.LOGIN_PAGE_TITLE)"></vsd-ui-label>
      <vsd-ui-label [class]="'body'" [label]="labelService.getLabel(labelKeys.LOGIN_SUB_TITLE)"></vsd-ui-label>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="submit()" class="form-box">
      <mat-form-field>
        <mat-label>{{labelService.getLabel(labelKeys.INPUT_USER_NAME)}}</mat-label>
        <input formControlName="userName" matInput required>
        <mat-error>
          <vsd-ui-input-error [controlName]="'Email id or contact number'"
                              [control]="formControl['userName']"></vsd-ui-input-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{labelService.getLabel(labelKeys.INPUT_PASSWORD)}}</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required>
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                mat-icon-button
                matSuffix>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <vsd-ui-input-error [controlName]="'password'"
                              [control]="formControl['password']"></vsd-ui-input-error>
        </mat-error>
      </mat-form-field>
      <vsd-ui-button [type]="'red'" [label]="labelService.getLabel(labelKeys.ACTION_LOGIN)" (actionBtnClicked)="submit()"></vsd-ui-button>
    </form>
  </div>
</div>
