<div class="mandal-list grid-list" *ngIf="mandals && mandals.length>0">
  <div class="mandal-item grid-item" *ngFor="let mandal of mandals">
    <img [src]="mandal.imagePath[0].webUrl" />
    <div class="mandal-address">
      <shared-ui-lib-uikit-label
        [class]="['mat-subtitle-1']"
        [label]="address(mandal.address)"></shared-ui-lib-uikit-label>
    </div>
    <div class="mandal-body">
      <div class="mandal-name">
        <shared-ui-lib-uikit-label
          [class]="['mat-headline-5']"
          [label]="mandal.mandalName"></shared-ui-lib-uikit-label>
      </div>
      <div class="mandal-desc">
        <shared-ui-lib-uikit-label
          [class]="['mat-subtitle-2']"
          [hasHtmlContent]="true"
          [label]="mandal.description" [charLimit]="150"></shared-ui-lib-uikit-label>
      </div>
      <shared-ui-lib-uikit-button [hasUnderline]="true" (buttonClicked)="onClick(mandal)" [type]="'link'"
                                  [label]="labelService.getLabel(labelKey.ACTION_VIEW_MORE)"></shared-ui-lib-uikit-button>
    </div>
  </div>
  <div class="grid-item" *ngFor="let item of dummyEntry"></div>
</div>
