<form [formGroup]="formGroup" class="form-group">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><h4 class="dark-text uppercase">{{stringRes.BASIC_DETAILS}}</h4></mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-body">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TITLE}}</mat-label>
            <input type="text" #title placeholder="Enter event title" formControlName="title"
                   matInput
                   required maxlength="{{inputLength.CHAR_100}}">
            <mat-hint align="end">{{title.value.length}} / {{inputLength.CHAR_100}}</mat-hint>
            <mat-error>
              <app-input-error [control]="formControl['title']"
                               [controlName]="stringRes.TITLE"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <angular-editor matInput formControlName="description" [config]="editorConfig"></angular-editor>
          <mat-error>
            <app-input-error [control]="formControl['description']"
                             [controlName]="stringRes.DESCRIPTION"></app-input-error>
          </mat-error>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.DATE}}</mat-label>
            <input type="text" placeholder="Enter date" formControlName="date" matInput
                   readonly
                   required
                   [min]="minDate"
                   [max]="maxDate"
                   [matDatepicker]="picker"
                   (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <app-input-error [control]="formControl['date']"
                               [controlName]="stringRes.DATE"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TIME}}</mat-label>
            <input type="text" placeholder="Enter time" formControlName="time" matInput
                   [ngxMatTimepicker]="timePicker"
                   readonly
                   required>
            <mat-icon matSuffix (click)="timePicker.open()">watch_later</mat-icon>
            <mat-error>
              <app-input-error [control]="formControl['time']"
                               [controlName]="stringRes.TIME"></app-input-error>
            </mat-error>
          </mat-form-field>
          <ngx-mat-timepicker #timePicker></ngx-mat-timepicker>
        </div>
      </div>
      <app-file-selector [formGroup]="formGroup" [isMultiFile]="false"
                         [controlName]="'uploadFiles'"
                         [mediaFor]="mediaForEnum.EVENT"
                         [isRequired]="true"
                         [uploadedMediaList]="eventObj ? eventObj.imagePath : []"
                         [mediaType]="fileTypeEnum.IMAGE"></app-file-selector>
      <app-user-selector [isMultiSelection]="false"
                         [controlName]="'coordinator'"
                         [formGroupCtr]="formGroup"
                         [selectedUserList]="eventObj ? eventObj.eventCoordinators: []"
                         [isRequired]="true"
                         [label]="stringRes.EVENT_COORDINATOR"
                         (userChangeEvent)="onCoordinatorChange($event)"></app-user-selector>
    </mat-card-content>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-header>
      <mat-icon>view_agenda</mat-icon>
      <mat-card-title-group>
        <mat-card-title><h4 class="dark-text uppercase">{{stringRes.AGENDA}}</h4></mat-card-title>
      </mat-card-title-group>
      <div fxFlex></div>
      <button mat-mini-fab (click)="addAgenda(null)" type="button" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="form-body" formArrayName="agenda">
      <div class="agenda">
        <div class="agenda-item" *ngFor="let agd of agendaArray().controls; let i=index" [formGroupName]="i">
          <div class="agenda-header">
            <div class="form-item" style="width: 100px">
              <mat-label>Day {{i + 1}}</mat-label>
            </div>
            <div class="form-item">
              <div style="width: 200px">
                <mat-form-field>
                  <mat-label>{{stringRes.DATE}}</mat-label>
                  <input type="text" #agendaDate placeholder="Enter agenda date" formControlName="agendaDate"
                         [matDatepicker]="agendaDatePicker"
                         matInput
                         readonly
                         (click)="agendaDatePicker.open()"
                         [min]="minDate"
                         [max]="maxDate"
                         required>
                  <mat-datepicker-toggle matSuffix [for]="agendaDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #agendaDatePicker></mat-datepicker>
                  <mat-error>
                    <app-input-error [control]="formControl['agendaDate']"
                                     [controlName]="stringRes.DAY"></app-input-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-item">
              <button type="button" mat-mini-fab color="warn" *ngIf="i > 0"
                      (click)="removeAgenda(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
          <div class="agenda-item-container" formArrayName="agendaDetail">
            <div class="agenda-details-item" *ngFor="let agdd of agendaDetailArray(i).controls; let j=index"
                 [formGroupName]="j">
              <div class="form-item">
                <mat-label>{{j + 1}})</mat-label>
              </div>
              <div class="form-item">
                <mat-form-field>
                  <mat-label>{{stringRes.START_TIME}}</mat-label>
                  <input type="text" placeholder="Enter starting time" formControlName="startTime" matInput
                         [ngxMatTimepicker]="timePickerStartTime"
                         readonly
                         required>
                  <mat-icon matSuffix (click)="timePickerStartTime.open()">watch_later</mat-icon>
                  <mat-error>
                    <app-input-error [control]="formControl['startTime']"
                                     [controlName]="stringRes.START_TIME"></app-input-error>
                  </mat-error>
                </mat-form-field>
                <ngx-mat-timepicker #timePickerStartTime></ngx-mat-timepicker>
              </div>
              <div class="form-item">
                <mat-form-field>
                  <mat-label>{{stringRes.END_TIME}}</mat-label>
                  <input type="text" placeholder="Enter ending time" formControlName="endTime" matInput
                         [ngxMatTimepicker]="timePickerEndTime"
                         readonly>
                  <mat-icon matSuffix (click)="timePickerEndTime.open()">watch_later</mat-icon>
                  <mat-error>
                    <app-input-error [control]="formControl['endTime']"
                                     [controlName]="stringRes.END_TIME"></app-input-error>
                  </mat-error>
                </mat-form-field>
                <ngx-mat-timepicker #timePickerEndTime></ngx-mat-timepicker>
              </div>
              <div class="form-item">
                <mat-form-field>
                  <mat-label>{{stringRes.DESCRIPTION}}</mat-label>
                  <input type="text" placeholder="Enter agenda description" formControlName="desc" matInput
                         required>
                  <mat-error>
                    <app-input-error [control]="formControl['desc']"
                                     [controlName]="stringRes.DESCRIPTION"></app-input-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-item">
                <button type="button" mat-stroked-button color="primary" *ngIf="j === 0"
                        (click)="addAgendaDetail(i, [])">
                  <mat-icon>add</mat-icon>
                </button>
                <button type="button" mat-stroked-button color="warn" *ngIf="j > 0"
                        (click)="removeAgendaDetail(i, j)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-address-selector
    [formGroup]="formGroup"
    [addressModel]="eventObj ? eventObj.addressModel : null"
    [showLatLong]="true"
    [showAddressType]="false"></app-address-selector>
  <mat-card class="form-card">
    <mat-card-actions align="end">
      <button class="round-btn" mat-raised-button (click)="onCancel()">
        {{stringRes.CANCEL}}
      </button>
      <button class="round-btn gradient-btn" mat-raised-button color="primary" (click)="onSubmit()">
        {{id > 0 ? stringRes.UPDATE : stringRes.SAVE}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
