<mat-divider></mat-divider>
<div class="footer">
  <div class="left">
    <div class="app-name-footer">
      <a [routerLink]="''">
        <shared-ui-lib-uikit-icon class="logo header-logo"></shared-ui-lib-uikit-icon>
        <div class="header-title">
          <shared-ui-lib-uikit-label [hasHtmlContent]="true"
                                     [class]="['mat-headline-5']"
                                     [label]="labelService.getLabel(LabelKey.APP_NAME_LONG)"></shared-ui-lib-uikit-label>
        </div>
      </a>
    </div>
    <hr>
    <div class="additional-info">
      <div class="address-section">
        <div class="address">
          <shared-ui-lib-uikit-icon [name]="'address'" [size]="'large'" [color]="'primary'"></shared-ui-lib-uikit-icon>
          <shared-ui-lib-uikit-label [class]="['mat-body-1']" [hasHtmlContent]="true"
                                     [label]="labelService.getLabel(LabelKey.APP_ADDRESS)"></shared-ui-lib-uikit-label>
        </div>
      </div>
      <div class="social-link-section">
        <shared-ui-lib-uikit-button [prefixIconSize]="'large'" [type]="'icon-only'"
                                    [prefixIcon]="'social-facebook'"></shared-ui-lib-uikit-button>
        <shared-ui-lib-uikit-button [prefixIconSize]="'large'" [type]="'icon-only'"
                                    [prefixIcon]="'social-twitter'"></shared-ui-lib-uikit-button>
        <shared-ui-lib-uikit-button [prefixIconSize]="'large'" [type]="'icon-only'"
                                    [prefixIcon]="'social-instagram'"></shared-ui-lib-uikit-button>
      </div>
    </div>
  </div>
  <div class="center">
    <shared-ui-lib-uikit-label [class]="['mat-headline-6']" [label]="'त्वरित संपर्क'"></shared-ui-lib-uikit-label>
    <div class="nav">
      <shared-ui-lib-uikit-button *ngFor="let btn of btnList;"
                                  (buttonClicked)="onClick(btn)"
                                  [color]="!btn.isActive ? 'primary' : 'accent'"
                                  [type]="'link'"
                                  [disableRipple]="true"
                                  [label]="btn.label"></shared-ui-lib-uikit-button>
    </div>
  </div>
  <div class="right">
    <div class="map-section">
      <shared-ui-lib-uikit-google-map></shared-ui-lib-uikit-google-map>
    </div>
  </div>
</div>
<div class="copy-right">
  <shared-ui-lib-uikit-label
    [label]="labelService.getLabel(LabelKey.COPYRIGHT)"></shared-ui-lib-uikit-label>
</div>
