::ng-deep {
  .mat-dialog-container {
    .mat-dialog-content {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 0;
      margin: 0 0;
    }
  }
}

.temple-detail {
  img {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 450px;
  }

  .date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }

  .date-w-icon {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    .header {
      text-transform: uppercase;
    }

    .title {
      display: flex;
      align-content: center;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      mat-icon {
        font-size: 18px !important;
        width: 18px;
        height: 18px;
      }
    }
  }
}
