<ng-container *ngIf="eventObj">
  <div mat-dialog-content>
    <div class="temple-detail">
      <img src="{{eventObj.imagePath[0].webUrl}}">
      <h4 class="m-t-medium">{{eventObj.title}}</h4>
      <div class="date-container">
        <div class="date-w-icon">
          <h6 class="header">{{strResource.DATE}}</h6>
          <div class="title">
            <mat-icon>event</mat-icon>
            {{eventObj.date}}</div>
        </div>
        <div class="date-w-icon">
          <h6 class="header">{{strResource.TIME}}</h6>
          <div class="title">
            <mat-icon>schedule</mat-icon>
            {{eventObj.time}}</div>
        </div>
      </div>
      <div class="address-w-icon m-t-medium" *ngIf="eventObj.addressModel">
        <mat-icon class="material-icons-outlined">location_on</mat-icon>
        <div class="text-container">
          <h6 class="type">{{strResource.ADDRESS}}</h6>
          <div>
            {{eventObj.addressModel.address}},
            {{eventObj.addressModel.cityVillage}},
            {{eventObj.addressModel.district}},
            {{eventObj.addressModel.state}},
            {{eventObj.addressModel.country}} -
            {{eventObj.addressModel.pinCode ? eventObj.addressModel.pinCode : ''}}
          </div>
        </div>
      </div>
      <p class="m-t-medium" *ngIf="eventObj.description" [innerHTML]="eventObj.description"></p>
    </div>
  </div>
  <div mat-dialog-actions>
  </div>
</ng-container>
