.mandal-detail-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  shared-ui-lib-uikit-banner {
    width: 100%;
  }

  .mandal-detail-content {
    margin-top: var(--spacing-48);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
  }

  .flex-h {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mandal-detail-box {
    width: 100%;
    display: grid;
    gap: var(--spacing-24);
    grid-template-columns: 3fr 1fr;

    .left-section {

    }

    .right-section {
      display: flex;
      padding: var(--spacing-16);
      gap: var(--spacing-16);
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;

      .map-box {
        width: 100%;
        height: var(--min-map-height);
      }

      .address-box {
        display: flex;
        gap: var(--spacing-12);
        align-items: center;
      }
    }
  }

  .member-section {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-20);

    .mandal-member-section {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: var(--spacing-16);

      .member-box {
        border-radius: var(--border-radius-16);
        display: flex;
        flex-direction: row;
        border: var(--stroke-thin) solid var(--border-color);
        box-shadow: 0px 10px 20px 0px #0000000F;
        flex-wrap: nowrap;
        padding: var(--spacing-16);
        gap: var(--spacing-16);

        .img-box {
          width: var(--mandal-member-image-size);
          height: var(--mandal-member-image-size);
          border-radius: var(--border-radius-12);

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .member-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
