.count-card {
  color: white !important;
  display: grid;
  grid-template-columns: 70% 30%;

  .round-bg {
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .18);
  }

  .mat-icon {
    border-radius: 50%;
  }

  .icon-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
  }

  .count-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .count {
      font-size: 2em;
    }
  }
}
