<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="12px">
  <div fxFlex="calc(24.5.5%)"
       fxFlex.lt-lg="calc(24.5.5%)"
       fxFlex.lt-md="calc(24.5.5%)"
       fxFlex.lt-sm="100%">
    <mat-card class="gradient-45deg-light-blue-cyan">
      <mat-card-content class="count-card">
        <div class="icon-block">
          <mat-icon class="round-bg" fontSet="material-icons-outlined">diversity_1</mat-icon>
          <p>Family Registered</p>
        </div>
        <div class="count-block">
          <span class="count">500</span>
          <p>Active</p>
          <span>10,0000</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(24.5.5%)"
       fxFlex.lt-lg="calc(24.5.5%)"
       fxFlex.lt-md="calc(24.5.5%)"
       fxFlex.lt-sm="100%">
    <mat-card class="gradient-45deg-red-pink">
      <mat-card-content class="count-card">
        <div class="icon-block">
          <mat-icon class="round-bg" fontSet="material-icons-outlined">work</mat-icon>
          <p>Job's</p>
        </div>
        <div class="count-block">
          <span class="count">500</span>
          <p>Active</p>
          <span>10,0000</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(24.5.5%)"
       fxFlex.lt-lg="calc(24.5.5%)"
       fxFlex.lt-md="calc(24.5.5%)"
       fxFlex.lt-sm="100%">
    <mat-card class="gradient-45deg-amber-yellow">
      <mat-card-content class="count-card">
        <div class="icon-block">
          <mat-icon class="round-bg" fontSet="material-icons-outlined">diversity_1</mat-icon>
          <p></p>
        </div>
        <div class="count-block">
          <span class="count"></span>
          <p>Active</p>
          <span></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(24.5.5%)"
       fxFlex.lt-lg="calc(24.5.5%)"
       fxFlex.lt-md="calc(24.5.5%)"
       fxFlex.lt-sm="100%">
    <mat-card class="gradient-45deg-green-teal">
      <mat-card-content class="count-card">
        <div class="icon-block">
          <mat-icon class="round-bg" fontSet="material-icons-outlined">work</mat-icon>
          <p></p>
        </div>
        <div class="count-block">
          <span class="count"></span>
          <p>Active</p>
          <span></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="12px" class="m-t-medium">
  <div fxFlex="calc(32.5.5%)"
       fxFlex.lt-lg="calc(32.5.5%)"
       fxFlex.lt-md="calc(32.5.5%)"
       fxFlex.lt-sm="100%">
    <mat-card>
      <h5>Family's</h5>
    <mat-card-content>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Gender</mat-button-toggle>
        <mat-button-toggle value="italic">Age Group</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(32.5.5%)"
       fxFlex.lt-lg="calc(32.5.5%)"
       fxFlex.lt-md="calc(32.5.5%)"
       fxFlex.lt-sm="100%">
    <mat-card>
      <h5>Matrimonial</h5>
      <mat-card-content></mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(32.5.5%)"
       fxFlex.lt-lg="calc(32.5.5%)"
       fxFlex.lt-md="calc(32.5.5%)"
       fxFlex.lt-sm="100%">
    <mat-card>
      <h5>Job's</h5>
      <mat-card-content></mat-card-content>
    </mat-card>
  </div>
</div>
