<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">
    <mat-toolbar>
      <shared-ui-lib-uikit-label [class]="['body']" [hasHtmlContent]="true"
                                 [label]="'श्री विश्वकर्मा वंश - सुथार समाज'"></shared-ui-lib-uikit-label>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let btn of btnList; let i = index"
                     [routerLinkActive]="['is-active']"
                     (click)="onClick(btn)">{{ btn.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <shared-ui-lib-uikit-button
          aria-label="Toggle sidenav"
          (click)="drawer.toggle()">
        </shared-ui-lib-uikit-button>
      }
      <ng-container *ngIf="(isHandset$ | async) === false">
        <div class="fill-remaining-space">
          <div class="header-logo-section">
            <shared-ui-lib-uikit-icon class="logo header-logo"></shared-ui-lib-uikit-icon>
            <div class="header-title">
              <shared-ui-lib-uikit-label [class]="['body']" [hasHtmlContent]="true"
                                         [label]="'श्री विश्वकर्मा वंश - सुथार समाज</br>गोडवाड - पट्टा - मालवा'"></shared-ui-lib-uikit-label>
            </div>
          </div>
        </div>
        <div class="fill-remaining-space btn-list">
          <shared-ui-lib-uikit-button *ngFor="let btn of btnList;"
                                      (buttonClicked)="onClick(btn)"
                                      [type]="'link'"
                                      [ngClass]="{'is-active':btn.isActive}"
                                      [disableRipple]="true"
                                      [label]="btn.label"></shared-ui-lib-uikit-button>
        </div>
        <div class="fill-remaining-space">
          <shared-ui-lib-uikit-button [type]="'raised'" [label]="'वार्षिक शुल्क'"></shared-ui-lib-uikit-button>
        </div>
      </ng-container>
    </mat-toolbar>
    <div class="main-container">
      <div class="main-section">
        <router-outlet></router-outlet>
      </div>
      <vsd-web-app-footer></vsd-web-app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
