<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title><h4 class="p-b-large">{{stringRes.LOGIN}}</h4></mat-card-title>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div class="form-group">
          <mat-icon aria-hidden="false" aria-label="Email Id">mail_outline</mat-icon>
          <mat-form-field>
            <mat-label>{{stringRes.EMAIL_ID}}</mat-label>
            <input type="email" placeholder="Enter Email Id" formControlName="emailId" matInput required>
            <mat-error>
              <app-input-error [control]="formControl['emailId']"
                               [controlName]="stringRes.EMAIL_ID"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-icon aria-hidden="false" aria-label="Lock">lock_outline</mat-icon>
          <mat-form-field>
            <mat-label>{{stringRes.PASSWORD}}</mat-label>
            <input type="password" [type]="hide ? 'password' : 'text'" placeholder="Enter Password"
                   formControlName="password" matInput required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              <app-input-error [control]="formControl['password']"
                               [controlName]="stringRes.PASSWORD"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="full-width round-btn gradient-btn" mat-raised-button color="primary" (click)="loginTask()">
        {{stringRes.LOGIN}}
      </button>
    </mat-card-actions>
    <mat-card-actions class="center-btn">
      <button mat-button (click)="openForgotPasswordDialog()">{{stringRes.FORGOT_PASSWORD}}?</button>
    </mat-card-actions>
  </mat-card>
</div>
