<div *ngIf="dialogData">
  <h4 mat-dialog-title>{{dialogData.title}}</h4>
  <div mat-dialog-content>
    <p>{{dialogData.message}}</p>
    <form *ngIf="formGroup" [formGroup]="formGroup">
      <div class="form-group">
        <mat-icon aria-hidden="false" aria-label="Email Id">mail_outline</mat-icon>
        <mat-form-field>
          <mat-label>{{stringRes.EMAIL_ID}}</mat-label>
          <input type="email" placeholder="Enter Email Id" formControlName="emailId" matInput required>
          <mat-error>
            <app-input-error [control]="formControl['emailId']"
                             [controlName]="stringRes.EMAIL_ID"></app-input-error>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNegativeClick()">{{dialogData.negativeBtnTxt | uppercase}}</button>
    <button mat-button cdkFocusInitial
            (click)="forgotPasswordTask()">{{dialogData.positiveBtnTxt  | uppercase}}</button>
  </div>
</div>
