<form [formGroup]="formGroup" class="form-group">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><h4
          class="dark-text uppercase">{{id > 0 ? stringRes.CURRENT_AFFAIR_EDIT : stringRes.CURRENT_AFFAIR_CREATE}}</h4>
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-body">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TITLE}}</mat-label>
            <input type="text" #templeName placeholder="Enter title" formControlName="title"
                   matInput
                   required maxlength="{{inputLength.CHAR_100}}">
            <mat-hint align="end">{{templeName.value.length}} / {{inputLength.CHAR_100}}</mat-hint>
            <mat-error>
              <app-input-error [control]="formControl['title']"
                               [controlName]="stringRes.TITLE"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <angular-editor matInput formControlName="description" [config]="editorConfig"></angular-editor>
          <mat-error>
            <app-input-error [control]="formControl['description']"
                             [controlName]="stringRes.DESCRIPTION"></app-input-error>
          </mat-error>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.DATE}}</mat-label>
            <input type="text" placeholder="Enter date" formControlName="date" matInput
                   readonly
                   required
                   [min]="minDate"
                   [max]="maxDate"
                   [matDatepicker]="picker"
                   (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <app-input-error [control]="formControl['date']"
                               [controlName]="stringRes.DATE"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TIME}}</mat-label>
            <input type="text" placeholder="Enter time" formControlName="time" matInput
                   [ngxMatTimepicker]="timePicker"
                   readonly
                   required>
            <mat-icon matSuffix (click)="timePicker.open()">watch_later</mat-icon>
            <mat-error>
              <app-input-error [control]="formControl['time']"
                               [controlName]="stringRes.TIME"></app-input-error>
            </mat-error>
          </mat-form-field>
          <ngx-mat-timepicker #timePicker></ngx-mat-timepicker>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-label>{{stringRes.IS_COMMENT_ALLOW}}</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="commentsAllow">
            <mat-radio-button [value]="true">{{stringRes.YES}}</mat-radio-button>
            <mat-radio-button [value]="false">{{stringRes.NO}}</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            <app-input-error [control]="formControl['commentIfApplicable']"
                             [controlName]="stringRes.IS_COMMENT_ALLOW"></app-input-error>
          </mat-error>
        </div>
        <!--<div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-label>{{stringRes.IS_APPROVED}}</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="isApproved">
            <mat-radio-button [value]="true">{{stringRes.YES}}</mat-radio-button>
            <mat-radio-button [value]="false">{{stringRes.NO}}</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            <app-input-error [control]="formControl['isApproved']"
                             [controlName]="stringRes.IS_APPROVED"></app-input-error>
          </mat-error>
        </div>-->
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.SOURCE}}</mat-label>
            <input type="text" #source placeholder="Enter source" formControlName="source"
                   matInput
                   required maxlength="{{inputLength.CHAR_200}}">
            <mat-hint align="end">{{templeName.value.length}} / {{inputLength.CHAR_200}}</mat-hint>
            <mat-error>
              <app-input-error [control]="formControl['source']"
                               [controlName]="stringRes.SOURCE"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <app-file-selector [formGroup]="formGroup" [isMultiFile]="false"
                         [controlName]="'uploadFiles'"
                         [mediaFor]="mediaForEnum.NEWS"
                         [isRequired]="true"
                         [uploadedMediaList]="currentAffairObj ? currentAffairObj.imagePath : []"
                         [mediaType]="fileTypeEnum.IMAGE"></app-file-selector>
    </mat-card-content>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-actions align="end">
      <button class="round-btn" mat-raised-button (click)="onCancel()">
        {{stringRes.CANCEL}}
      </button>
      <button class="round-btn gradient-btn" mat-raised-button color="primary" (click)="onSubmit()">
        {{id > 0 ? stringRes.UPDATE : stringRes.SAVE}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
