@import 'variable';

.gradient-45deg-amber-yellow {
  background: -webkit-linear-gradient(45deg, #ff6f00, #ffca28) !important;
  background: linear-gradient(45deg, #ff6f00, #ffca28) !important;
  background: -moz-linear-gradient(45deg, #ff6f00, #ffca28) !important;
}

.gradient-45deg-blue-indigo {
  background: -webkit-linear-gradient(45deg, #2962ff, #3949ab) !important;
  background: linear-gradient(45deg, #2962ff, #3949ab) !important;
  background: -moz-linear-gradient(45deg, #2962ff, #3949ab) !important;
}

.gradient-45deg-indigo-light-blue {
  background: -webkit-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
  background: linear-gradient(45deg, #3949ab, #4fc3f7) !important;
  background: -moz-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
}

.gradient-45deg-red-pink {
  background: -webkit-linear-gradient(45deg, #ff5252, #f48fb1) !important;
  background: linear-gradient(45deg, #ff5252, #f48fb1) !important;
  background: -moz-linear-gradient(45deg, #ff5252, #f48fb1) !important;
}

.gradient-45deg-light-blue-teal {
  background: -webkit-linear-gradient(45deg, #b3e5fc, #64ffda) !important;
  background: linear-gradient(45deg, #b3e5fc, #64ffda) !important;
  background: -moz-linear-gradient(45deg, #b3e5fc, #64ffda) !important;
}

.gradient-45deg-light-blue-indigo {
  background: -webkit-linear-gradient(45deg, #b3e5fc, #9fa8da) !important;
  background: linear-gradient(45deg, #b3e5fc, #9fa8da) !important;
  background: -moz-linear-gradient(45deg, #b3e5fc, #9fa8da) !important;
}

.gradient-45deg-yellow-green {
  background: -webkit-linear-gradient(45deg, #ffff8d, #b9f6ca) !important;
  background: linear-gradient(45deg, #ffff8d, #b9f6ca) !important;
  background: -moz-linear-gradient(45deg, #ffff8d, #b9f6ca) !important;
}

.gradient-45deg-orange-deep-orange {
  background: -webkit-linear-gradient(45deg, #ffe0b2, #ffccbc) !important;
  background: linear-gradient(45deg, #ffe0b2, #ffccbc) !important;
  background: -moz-linear-gradient(45deg, #ffe0b2, #ffccbc) !important;
}

.gradient-45deg-deep-purple-purple {
  background: -webkit-linear-gradient(45deg, #d1c4e9, #f3e5f5) !important;
  background: linear-gradient(45deg, #d1c4e9, #f3e5f5) !important;
  background: -moz-linear-gradient(45deg, #d1c4e9, #f3e5f5) !important;
}

.gradient-45deg-light-green-amber {
  background: -webkit-linear-gradient(45deg, #c5e1a5, #fff8e1) !important;
  background: linear-gradient(45deg, #c5e1a5, #fff8e1) !important;
  background: -moz-linear-gradient(45deg, #c5e1a5, #fff8e1) !important;
}

.gradient-45deg-purple-pink {
  background: -webkit-linear-gradient(45deg, #ea80fc, #fce4ec) !important;
  background: linear-gradient(45deg, #ea80fc, #fce4ec) !important;
  background: -moz-linear-gradient(45deg, #ea80fc, #fce4ec) !important;
}

.gradient-45deg-indigo-blue {
  background: -webkit-linear-gradient(45deg, #303f9f, #1976d2) !important;
  background: linear-gradient(45deg, #303f9f, #1976d2) !important;
  background: -moz-linear-gradient(45deg, #303f9f, #1976d2) !important;
}

.gradient-45deg-brown-brown {
  background: -webkit-linear-gradient(45deg, #6d4c41, #bbdefb) !important;
  background: linear-gradient(45deg, #6d4c41, #bbdefb) !important;
  background: -moz-linear-gradient(45deg, #6d4c41, #bbdefb) !important;
}

.gradient-45deg-blue-grey-blue {
  background: -webkit-linear-gradient(45deg, #263238, #2979ff) !important;
  background: linear-gradient(45deg, #263238, #2979ff) !important;
  background: -moz-linear-gradient(45deg, #263238, #2979ff) !important;
}

.gradient-45deg-purple-deep-orange {
  background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background: linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background: -moz-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
}

.gradient-45deg-green-teal {
  background: -webkit-linear-gradient(45deg, #43a047, #1de9b6) !important;
  background: linear-gradient(45deg, #43a047, #1de9b6) !important;
  background: -moz-linear-gradient(45deg, #43a047, #1de9b6) !important;
}

.gradient-45deg-indigo-light-blue {
  background: -webkit-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
  background: linear-gradient(45deg, #3949ab, #4fc3f7) !important;
  background: -moz-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
}

.gradient-45deg-teal-cyan {
  background: -webkit-linear-gradient(45deg, #e0f2f1, #00e5ff) !important;
  background: linear-gradient(45deg, #e0f2f1, #00e5ff) !important;
  background: -moz-linear-gradient(45deg, #e0f2f1, #00e5ff) !important;
}

.gradient-45deg-blue-grey {
  background: -webkit-linear-gradient(45deg, #cfd8dc, #546e7a) !important;
  background: linear-gradient(45deg, #cfd8dc, #546e7a) !important;
  background: -moz-linear-gradient(45deg, #cfd8dc, #546e7a) !important;
}

.gradient-45deg-cyan-light-green {
  background: -webkit-linear-gradient(45deg, #0097a7, #b2ff59) !important;
  background: linear-gradient(45deg, #0097a7, #b2ff59) !important;
  background: -moz-linear-gradient(45deg, #0097a7, #b2ff59) !important;
}

.gradient-45deg-orange-amber {
  background: -webkit-linear-gradient(45deg, #e65100, #1976d2) !important;
  background: linear-gradient(45deg, #e65100, #1976d2) !important;
  background: -moz-linear-gradient(45deg, #e65100, #1976d2) !important;
}

.gradient-45deg-indigo-purple {
  background: -webkit-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: -moz-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
}

.gradient-45deg-deep-purple-blue {
  background: -webkit-linear-gradient(45deg, #6200ea, #1976d2) !important;
  background: linear-gradient(45deg, #6200ea, #1976d2) !important;
  background: -moz-linear-gradient(45deg, #6200ea, #1976d2) !important;
}

.gradient-45deg-deep-orange-orange {
  background: -webkit-linear-gradient(45deg, #bf360c, #f57c00) !important;
  background: linear-gradient(45deg, #bf360c, #f57c00) !important;
  background: -moz-linear-gradient(45deg, #bf360c, #f57c00) !important;
}

.gradient-45deg-light-blue-cyan {
  background: -webkit-linear-gradient(45deg, #0288d1, #26c6da) !important;
  background: linear-gradient(45deg, #0288d1, #26c6da) !important;
  background: -moz-linear-gradient(45deg, #0288d1, #26c6da) !important;
}

.gradient-45deg-purple-amber {
  background: -webkit-linear-gradient(45deg, #d500f9, #ffa000) !important;
  background: linear-gradient(45deg, #d500f9, #ffa000) !important;
  background: -moz-linear-gradient(45deg, #d500f9, #ffa000) !important;
}

.gradient-45deg-purple-deep-purple {
  background: -webkit-linear-gradient(45deg, #7b1fa2, #7c4dff) !important;
  background: linear-gradient(45deg, #7b1fa2, #7c4dff) !important;
  background: -moz-linear-gradient(45deg, #7b1fa2, #7c4dff) !important;
}

.gradient-45deg-purple-light-blue {
  background: -webkit-linear-gradient(45deg, #e040fb, #4fc3f7) !important;
  background: linear-gradient(45deg, #e040fb, #4fc3f7) !important;
  background: -moz-linear-gradient(45deg, #e040fb, #4fc3f7) !important;
}

.gradient-45deg-cyan-cyan {
  background: -webkit-linear-gradient(45deg, #18ffff, #00e5ff) !important;
  background: linear-gradient(45deg, #18ffff, #00e5ff) !important;
  background: -moz-linear-gradient(45deg, #18ffff, #00e5ff) !important;
}

.gradient-45deg-yellow-teal {
  background: -webkit-linear-gradient(45deg, #fff9c4, #64ffda) !important;
  background: linear-gradient(45deg, #fff9c4, #64ffda) !important;
  background: -moz-linear-gradient(45deg, #fff9c4, #64ffda) !important;
}

.gradient-45deg-cyan-light-green {
  background: -webkit-linear-gradient(45deg, #0097a7, #b2ff59) !important;
  background: linear-gradient(45deg, #0097a7, #b2ff59) !important;
  background: -moz-linear-gradient(45deg, #0097a7, #b2ff59) !important;
}
