<div class="home-section main-section">
  <shared-ui-lib-uikit-banner [banner]="banners"></shared-ui-lib-uikit-banner>
  <div class="home-event-section" *ngIf="upcomingEvents && upcomingEvents.length> 0">
    <shared-ui-lib-uikit-label *ngIf="eventTitle" [class]="['mat-headline-3']"
                               [label]="eventTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <vsd-web-app-event-card [events]="upcomingEvents" [orientation]="'horizontal'"></vsd-web-app-event-card>
  </div>

  <div class="home-temple-section" *ngIf="temples && temples.length>0">
    <shared-ui-lib-uikit-label *ngIf="templeTitle" [class]="['mat-headline-3']"
                               [label]="templeTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <vsd-web-app-temple-card [temples]="temples"></vsd-web-app-temple-card>
  </div>

  <div class="home-about-us-section" *ngIf="legalPage">
    <shared-ui-lib-uikit-label *ngIf="aboutUsTitle" [class]="['mat-headline-3']"
                               [label]="aboutUsTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <div class="home-about-us-box">
      <div class="left">
        <shared-ui-lib-uikit-label
          [class]="['mat-subtitle-2']" [hasHtmlContent]="true"
          [label]="legalPage.details" [charLimit]="300"></shared-ui-lib-uikit-label>
        <shared-ui-lib-uikit-button (buttonClicked)="aboutUsClick()" [type]="'raised'"
                                    [label]="labelService.getLabel(LabelKey.ACTION_VIEW_MORE)"></shared-ui-lib-uikit-button>
      </div>
      <div class="right">
        <img class="about_us_1" />
      </div>
    </div>
  </div>

  <div class="home-facilities-section" *ngIf="facilities && facilities.length>0">
    <shared-ui-lib-uikit-label *ngIf="facilitiesTitle" [class]="['mat-headline-3']"
                               [label]="facilitiesTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <vsd-web-app-facility-card [facilities]="facilities"></vsd-web-app-facility-card>
  </div>

  <div class="home-trustee-section"
       *ngIf="primaryMandal && primaryMandal.mandalMembers && primaryMandal.mandalMembers.length > 0">
    <shared-ui-lib-uikit-label *ngIf="trusteeTitle" [class]="['mat-headline-3']"
                               [label]="trusteeTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <div class="home-trustee-box grid-list">
      <div class="home-trustee-item grid-item" *ngFor="let post of primaryMandal.mandalMembers">
        <img *ngIf="post.members[0].imagePath && post.members[0].imagePath.webUrl"
             [src]="post.members[0].imagePath.webUrl" />

        <div class="trustee-body">
          <div class="trustee-name">
            <shared-ui-lib-uikit-label
              [class]="['mat-headline-5']"
              [label]="post.members[0].firstName + ' ' + post.members[0].lastName"></shared-ui-lib-uikit-label>
          </div>
          <div class="trustee-desc">
            <shared-ui-lib-uikit-label
              [class]="['mat-subtitle-2']"
              [hasHtmlContent]="true"
              [label]="post.post" [charLimit]="150"></shared-ui-lib-uikit-label>
          </div>
        </div>
      </div>
      <div class="grid-item" *ngFor="let m of getDummyMemberEntry()"></div>
    </div>
  </div>
</div>
