.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  shared-ui-lib-uikit-banner {
    width: 100%;
  }

  .data-section {
    padding: var(--spacing-48);
  }

  .divider {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: var(--divider-line-height);
  }

  .home-event-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-event-detail-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--spacing-80);
      padding: var(--spacing-48) var(--spacing-0);

      .left {
        display: flex;
        flex-direction: column;

        .event-date-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: var(--spacing-20);
          margin-top: var(--spacing-16);

          .date-part {
            width: var(--date-box-width);
            background-color: var(--accent);
            display: flex;
            padding: var(--spacing-8);
            border-radius: var(--border-radius-12);
            flex-direction: column;
            align-items: center;
            justify-content: center;

            ::ng-deep .mat-headline-4 {
              margin: 0 !important;
              color: white;
            }

            ::ng-deep .mat-body-2 {
              color: white;
            }
          }

          .time-location-part {
            gap: var(--spacing-12);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .sub-section {
              display: flex;
            }
          }
        }

        .description {
          margin-top: var(--spacing-16);
        }
      }

      .right {
        display: flex;
        flex-direction: column;

        img {
          width: 300px;
          height: 300px;
          border-radius: var(--border-radius-20);
          border: 1px solid var(--accent);
        }
      }

    }
  }

  .home-temple-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-temple-box {
      display: flex;
      gap: var(--spacing-16);
      padding: var(--spacing-48) var(--spacing-0);
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      .home-temple-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: var(--border-radius-10);
        width: 100%;
        box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1019607843);
        border: var(--stroke-thin) solid white;

        img {
          width: 100%;
          height: 350px;
          border-top-left-radius: var(--border-radius-10);
          border-top-right-radius: var(--border-radius-10);
        }

        .temple-address {
          background-color: var(--accent);
          box-shadow: 0px 0px 14px 0px #00000017;
          border-radius: var(--border-radius-10);
          padding: var(--spacing-12);
          margin-right: 50px;
          margin-top: -24px;

          ::ng-deep .mat-subtitle-1 {
            margin: 0 !important;
            color: white;
          }
        }

        .temple-body {
          display: flex;
          padding: var(--spacing-24);
          flex-direction: column;
          gap: var(--spacing-16);
        }
      }
    }
  }

  .home-about-us-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-trustee-box {
      display: flex;
      gap: var(--spacing-16);
      padding: var(--spacing-48) var(--spacing-0);
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      .home-trustee-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: var(--border-radius-10);
        width: 100%;
        box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1019607843);
        border: var(--stroke-thin) solid white;

        img {
          width: 100%;
          height: 350px;
          border-top-left-radius: var(--border-radius-10);
          border-top-right-radius: var(--border-radius-10);
        }
      }
    }
  }

  .home-trustee-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-trustee-box {
      display: flex;
      gap: var(--spacing-16);
      padding: var(--spacing-48) var(--spacing-0);
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      .home-trustee-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
          height: 250px;
          border: var(--stroke-thin) solid #00000033;
          border-radius: var(--border-radius-20);
          box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1019607843);
        }

        .trustee-body {
          display: flex;
          padding: var(--spacing-24);
          flex-direction: column;
          gap: var(--spacing-8);

          ::ng-deep .mat-body-2 {
            color: #828282;
          }
        }
      }
    }
  }
}
