<div class="home-section">
  <shared-ui-lib-uikit-banner
    [banner]="['https://as1.ftcdn.net/v2/jpg/00/91/42/68/1000_F_91426895_WvXeMVveaKeJ03wtwqRYQI3HoUQi5LgS.jpg']"></shared-ui-lib-uikit-banner>
  <div class="home-event-section data-section">
    <shared-ui-lib-uikit-label *ngIf="eventTitle" [class]="['mat-headline-3']"
                               [label]="eventTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <vsd-web-app-event-card></vsd-web-app-event-card>
  </div>

  <div class="home-temple-section data-section">
    <shared-ui-lib-uikit-label *ngIf="templeTitle" [class]="['mat-headline-3']"
                               [label]="templeTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <vsd-web-app-temple-card></vsd-web-app-temple-card>
  </div>

  <div class="home-about-us-section data-section">
    <shared-ui-lib-uikit-label *ngIf="aboutUsTitle" [class]="['mat-headline-3']"
                               [label]="aboutUsTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <div class="home-about-us-box">
      <div class="left">
        <shared-ui-lib-uikit-label
          [class]="['mat-subtitle-2']" [hasHtmlContent]="true"
          [label]="'सुथार समाज नेटवर्क सुथार समाज के लोगों का एक अग्रणी ऑनलाइन समुदाय है। यह वेबसाइट विश्वकर्मा धर्म के बारे में महत्वपूर्ण ज्ञान प्रदान करती है और दुनिया को सुथार समाज की प्रसिद्ध हस्तियों से भी परिचित कराती है जिनकी हर क्षेत्र में महत्वपूर्ण भूमिका है।'"></shared-ui-lib-uikit-label>
        <shared-ui-lib-uikit-button [type]="'raised'" [label]="'और अधिक जानें'"></shared-ui-lib-uikit-button>
      </div>
      <div class="right">
        <mat-grid-list [rowHeight]="'3:1'" [cols]="2">
          <mat-grid-tile [colspan]="1" [rowspan]="3"><img class="about_us_1" /></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]=""></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="2"><img class="about_us_2" /></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [rowHeight]="'2:1'" [cols]="2">
          <mat-grid-tile [colspan]="1" [rowspan]="1"><img class="about_us_3" /></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="2"><img class="about_us_4" /></mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>

  <div class="home-facilities-section data-section">
    <shared-ui-lib-uikit-label *ngIf="facilitiesTitle" [class]="['mat-headline-3']"
                               [label]="facilitiesTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <div class="home-facilities-box">
      <div class="left">
        <shared-ui-lib-uikit-label
          [class]="['mat-subtitle-2']" [hasHtmlContent]="true"
          [label]="'सुथार समाज नेटवर्क सुथार समाज के लोगों का एक अग्रणी ऑनलाइन समुदाय है। यह वेबसाइट विश्वकर्मा धर्म के बारे में महत्वपूर्ण ज्ञान प्रदान करती है और दुनिया को सुथार समाज की प्रसिद्ध हस्तियों से भी परिचित कराती है जिनकी हर क्षेत्र में महत्वपूर्ण भूमिका है।'"></shared-ui-lib-uikit-label>
        <shared-ui-lib-uikit-button [type]="'raised'" [label]="'और अधिक जानें'"></shared-ui-lib-uikit-button>
      </div>
      <div class="right">
        <mat-grid-list [rowHeight]="'3:1'" [cols]="2">
          <mat-grid-tile [colspan]="1" [rowspan]="3"><img class="about_us_1" /></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]=""></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="2"><img class="about_us_2" /></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [rowHeight]="'2:1'" [cols]="2">
          <mat-grid-tile [colspan]="1" [rowspan]="1"><img class="about_us_3" /></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="2"><img class="about_us_4" /></mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>

  <div class="home-trustee-section data-section">
    <shared-ui-lib-uikit-label *ngIf="trusteeTitle" [class]="['mat-headline-3']"
                               [label]="trusteeTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <div class="home-trustee-box">
      <div class="home-trustee-item"><img />
        <div class="trustee-body">
          <div class="trustee-name">
            <shared-ui-lib-uikit-label
              [class]="['mat-headline-5']"
              [label]="'मोहनलाल गमनाजी परिहार'"></shared-ui-lib-uikit-label>
          </div>
          <div class="trustee-desc">
            <shared-ui-lib-uikit-label
              [class]="['mat-body-2']"
              [label]="'कोषाध्यक्ष'"></shared-ui-lib-uikit-label>
          </div>
        </div>
      </div>
      <div class="home-trustee-item"><img />
        <div class="trustee-body">
          <div class="trustee-name">
            <shared-ui-lib-uikit-label
              [class]="['mat-headline-5']"
              [label]="'मोहनलाल गमनाजी परिहार'"></shared-ui-lib-uikit-label>
          </div>
          <div class="trustee-desc">
            <shared-ui-lib-uikit-label
              [class]="['mat-body-2']"
              [label]="'कोषाध्यक्ष'"></shared-ui-lib-uikit-label>
          </div>
        </div>
      </div>
      <div class="home-trustee-item"><img />
        <div class="trustee-body">
          <div class="trustee-name">
            <shared-ui-lib-uikit-label
              [class]="['mat-headline-5']"
              [label]="'मोहनलाल गमनाजी परिहार'"></shared-ui-lib-uikit-label>
          </div>
          <div class="trustee-desc">
            <shared-ui-lib-uikit-label
              [class]="['mat-body-2']"
              [label]="'कोषाध्यक्ष'"></shared-ui-lib-uikit-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
