.temple-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  shared-ui-lib-uikit-banner {
    width: 100%;
  }

  .temple-list-content {
    margin-top: var(--spacing-48);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-32);
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}
