<div class="contact-us-section">
  <shared-ui-lib-uikit-banner
    [banner]="['https://as1.ftcdn.net/v2/jpg/00/91/42/68/1000_F_91426895_WvXeMVveaKeJ03wtwqRYQI3HoUQi5LgS.jpg']"></shared-ui-lib-uikit-banner>
  <div class="contact-us-content">
    <shared-ui-lib-uikit-label [class]="['mat-headline-3']" [label]="'संपर्क करें'"></shared-ui-lib-uikit-label>
    <div class="details">
      <div class="address-section">
        <div class="map-section">
          <google-map [options]="mapOptions" height="100%" width="100%">
            <map-marker [position]="marker.position"></map-marker>
            <map-info-window>{{ infoContent }}</map-info-window>
          </google-map>
        </div>
        <div class="address-title">
          <shared-ui-lib-uikit-label [class]="['mat-headline-1']"
                                     [label]="'श्री विश्वकर्मा वंश-सुथार सेवा संस्थान'"></shared-ui-lib-uikit-label>
          <shared-ui-lib-uikit-label [class]="['mat-headline-5']"
                                     [label]="'रजि. क्रमांक: पाली/134/2006-07'"></shared-ui-lib-uikit-label>
        </div>
        <hr>
        <div class="address-info">
          <div class="address-item">
            <div class="icon_location_img">
              <shared-ui-lib-uikit-icon [name]="'address'" [size]="'medium'"
                                        [color]="'primary'"></shared-ui-lib-uikit-icon>
            </div>
            <shared-ui-lib-uikit-label [label]="'श्री विश्वकर्मा मंदिर, बड़वा, बाया-बाली, जिला पाली, राजस्थान 306706'"
                                       [class]="['mat-subtitle-2']"></shared-ui-lib-uikit-label>
          </div>
          <div class="address-item">
            <div class="icon_email_img">
              <shared-ui-lib-uikit-icon [name]="'mail'" [size]="'medium'"
                                        [color]="'primary'"></shared-ui-lib-uikit-icon>
            </div>
            <shared-ui-lib-uikit-label [class]="['mat-subtitle-2']"
                                       [label]="'mahendra.pgmail.com'"></shared-ui-lib-uikit-label>
          </div>
          <div class="address-item">
            <div class="icon_email_img">
              <shared-ui-lib-uikit-icon [name]="'call'" [size]="'medium'"
                                        [color]="'primary'"></shared-ui-lib-uikit-icon>
            </div>
            <shared-ui-lib-uikit-label [class]="['mat-subtitle-2']"
                                       [label]="'+91-9845564433'"></shared-ui-lib-uikit-label>
          </div>
        </div>
        <hr>
        <div class="social-icons">
          <shared-ui-lib-uikit-button [type]="'icon-only'"
                                      [prefixIcon]="'address'"
                                      [prefixIconSize]="'large'"></shared-ui-lib-uikit-button>
          <shared-ui-lib-uikit-button [type]="'icon-only'" [prefixIcon]="'address'"
                                      [prefixIconSize]="'large'"></shared-ui-lib-uikit-button>
          <shared-ui-lib-uikit-button [type]="'icon-only'" [prefixIcon]="'address'"
                                      [prefixIconSize]="'large'"></shared-ui-lib-uikit-button>
        </div>
      </div>
      <div class="form-section">
        <shared-ui-lib-uikit-label [class]="['mat-headline-5']"
                                   [label]="'हमसे संपर्क करने में संकोच न करें'"></shared-ui-lib-uikit-label>
        <form [formGroup]="formGroup" class="form-group">
          <div class="form-item">
            <label for="name">{{ labelService.labels.get(labelKeys.FORM_NAME) }}</label>
            <mat-form-field>
              <input id="name" matInput formControlName="name" placeholder="">
            </mat-form-field>
            <app-input-error [controlName]="labelService.labels.get(labelKeys.FORM_NAME)"
                             [labels]="labelService.labels"
                             [control]="formGroup.get('name')"></app-input-error>
          </div>
          <div class="form-item">
            <label for="email">{{ labelService.labels.get(labelKeys.FORM_EMAIL_ID) }}</label>
            <mat-form-field>
              <input id="email" type="email" matInput formControlName="emailId" placeholder="">
            </mat-form-field>

            <app-input-error [controlName]="labelService.labels.get(labelKeys.FORM_EMAIL_ID)"
                             [labels]="labelService.labels"
                             [control]="formGroup.get('emailId')"></app-input-error>
          </div>
          <div class="form-item">
            <label for="phoneNumber">{{ labelService.labels.get(labelKeys.FORM_PHONE_NUMBER) }}</label>
            <mat-form-field>
              <input id="phoneNumber" type="text" matInput formControlName="phoneNumber" placeholder="">
            </mat-form-field>

            <app-input-error [controlName]="labelService.labels.get(labelKeys.FORM_PHONE_NUMBER)"
                             [labels]="labelService.labels"
                             [control]="formGroup.get('phoneNumber')"></app-input-error>
          </div>
          <div class="form-item">
            <label for="message">{{ labelService.labels.get(labelKeys.FORM_MESSAGE) }}</label>
            <mat-form-field>
            <textarea matInput formControlName="message" id="message" rows="3"
                      placeholder=""></textarea>
            </mat-form-field>

            <app-input-error [controlName]="labelService.labels.get(labelKeys.FORM_MESSAGE)"
                             [labels]="labelService.labels"
                             [control]="formGroup.get('message')"></app-input-error>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
