<div class="contact-us-section">
  <shared-ui-lib-uikit-banner
    [banner]="['https://as1.ftcdn.net/v2/jpg/00/91/42/68/1000_F_91426895_WvXeMVveaKeJ03wtwqRYQI3HoUQi5LgS.jpg']"></shared-ui-lib-uikit-banner>
  <div class="contact-us-content">
    <shared-ui-lib-uikit-label [class]="['section-title-large']" [label]="'संपर्क करें'"></shared-ui-lib-uikit-label>
    <div class="details">
      <div class="address-section">
        <div class="map-section">

        </div>
        <div class="address-title">
          <shared-ui-lib-uikit-label [class]="['section-title-large']"
                                     [label]="'श्री विश्वकर्मा वंश-सुथार सेवा संस्थान'"></shared-ui-lib-uikit-label>
          <shared-ui-lib-uikit-label [class]="['title-large']"
                                     [label]="'रजि. क्रमांक: पाली/134/2006-07'"></shared-ui-lib-uikit-label>
        </div>
        <hr>
        <div class="address-info">
          <div class="address-item">
            <div class="icon_location_img">
              <shared-ui-lib-uikit-icon [name]="'address'" [size]="'medium'" [color]="'primary'"></shared-ui-lib-uikit-icon>
            </div>
            <div class="icon_location">श्री विश्वकर्मा मंदिर, बड़वा, बाया-बाली,<br> जिला पाली , राजस्थान 306706</div>
          </div>
          <div class="address-item">
            <div class="icon_email_img">
              <shared-ui-lib-uikit-icon [name]="'mail'" [size]="'medium'" [color]="'primary'"></shared-ui-lib-uikit-icon>
            </div>
            <div class="icon_location">mahendra.pgmail.com</div>
          </div>
          <div class="address-item">
            <div class="icon_email_img">
              <shared-ui-lib-uikit-icon [name]="'call'" [size]="'medium'" [color]="'primary'"></shared-ui-lib-uikit-icon>
            </div>
            <div class="icon_location">9845564433</div>
          </div>
        </div>
        <hr>
        <div class="social-icons">
          <shared-ui-lib-uikit-button [type]="'icon-only'"
                                      [prefixIcon]="'address'"
                                      [prefixIconSize]="'large'"></shared-ui-lib-uikit-button>
          <shared-ui-lib-uikit-button [type]="'icon-only'" [prefixIcon]="'address'"
                                      [prefixIconSize]="'large'"></shared-ui-lib-uikit-button>
          <shared-ui-lib-uikit-button [type]="'icon-only'" [prefixIcon]="'address'"
                                      [prefixIconSize]="'large'"></shared-ui-lib-uikit-button>
        </div>
      </div>
      <div class="form-section">
        <shared-ui-lib-uikit-label [class]="['section-title']"
                                   [label]="'हमसे संपर्क करने में संकोच न करें'"></shared-ui-lib-uikit-label>
      </div>
    </div>
  </div>
</div>
