<div class="facility-detail-section" *ngIf="facility">
  <shared-ui-lib-uikit-banner
    [banner]="['https://as1.ftcdn.net/v2/jpg/00/91/42/68/1000_F_91426895_WvXeMVveaKeJ03wtwqRYQI3HoUQi5LgS.jpg']"></shared-ui-lib-uikit-banner>
  <div class="facility-detail-content main-section">
    <div class="flex-d">
      <shared-ui-lib-uikit-label *ngIf="facility.title" [class]="['mat-headline-3']"
                                 [label]="facility.title"></shared-ui-lib-uikit-label>
    </div>
    <div class="divider divider-line"></div>
    <div class="facility-detail-box">
      <div class="left-section">
        <shared-ui-lib-uikit-label [hasHtmlContent]="true" [label]="facility.description"></shared-ui-lib-uikit-label>
      </div>
      <div class="right-section border-box">
        <div class="map-box">
          <shared-ui-lib-uikit-google-map [address]="facility.address"></shared-ui-lib-uikit-google-map>
        </div>
        <div class="address-box">
          <shared-ui-lib-uikit-icon [name]="'address'" [size]="'large'" [color]="'primary'"></shared-ui-lib-uikit-icon>
          <shared-ui-lib-uikit-label [class]="['mat-heading-5']"
                                     label="{{ facility.address | addressText }}"></shared-ui-lib-uikit-label>
        </div>
      </div>
    </div>
    <div class="member-section" *ngIf="facility.facilityMembers && facility.facilityMembers.length > 0">
      <shared-ui-lib-uikit-label [label]="'हमारे सदस्यों से मिलें'"
                                 [class]="['mat-headline-3','secondary-color']"></shared-ui-lib-uikit-label>
      <div *ngFor="let post of facility.facilityMembers" class="mandal-member-section">
        <div class="subtitle-line" *ngIf="post.members && post.members.length > 0">
          <shared-ui-lib-uikit-label [label]="post.post" [class]="['mat-headline-4']"></shared-ui-lib-uikit-label>
          <div class="line fill-remaining-space"></div>
        </div>
        <div class="grid-list">
          <div class="grid-item member-box" *ngFor="let m of post.members">
            <div class="img-box"></div>
            <div class="member-info">
              <shared-ui-lib-uikit-label [class]="['mat-headline-5']"
                                         label="{{m.firstName + ' ' + m.middleName + ' ' + m.lastName}}"></shared-ui-lib-uikit-label>
              <shared-ui-lib-uikit-label [class]="['mat-headline-6','secondary-color']"
                                         [label]="m.cityVillage ? m.cityVillage : ''"></shared-ui-lib-uikit-label>
            </div>
          </div>
          <div class="grid-item" *ngFor="let m of getDummyMemberEntry(post)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
