<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start center" [formGroup]="formGroupCtr">
  <div class="form-item"
       fxFlex="calc(10%)"
       fxFlex.lt-lg="calc(10%)"
       fxFlex.lt-md="calc(10%)"
       fxFlex.lt-sm="10%">
    <mat-label>{{label}}</mat-label>
  </div>
  <div class="form-item"
       fxFlex="calc(90%)"
       fxFlex.lt-lg="calc(90%)"
       fxFlex.lt-md="calc(90%)"
       fxFlex.lt-sm="90%">
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <mat-chip-list #chipList aria-label="User selection">
        <mat-chip
          *ngFor="let user of selectedUserList; let j = index"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(j)">
          <img matChipAvatar *ngIf="user.imagePath && user.imagePath.length>0" src="{{user.imagePath[0].webUrl}}" alt=""/>
          {{user.name}} ({{user.subText}})
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input matInput placeholder="Search user"
               aria-label="Users"
               #searchInput
               [matAutocomplete]="auto"
               [formControl]="searchCtrl"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <mat-option *ngIf="!isLoading && (!userList || userList.length === 0)" class="is-loading">No result found
        </mat-option>
        <ng-container *ngIf="!isLoading && userList && userList.length > 0">
          <mat-option *ngFor="let obj of userList" [value]="obj">
            <div class="user-item">
              <img class="avatar" src="{{obj.imagePath}}" alt="">
              <div class="text-container">
                {{obj.name}} ({{obj.subText}})
              </div>
            </div>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <input matInput hidden
             formControlName="{{controlName}}">
      <mat-error>
        <app-input-error [control]="formGroupControl['coordinator']"
                         [controlName]="label"></app-input-error>
      </mat-error>
    </mat-form-field>
  </div>
</div>
