.event-detail-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  shared-ui-lib-uikit-banner {
    width: 100%;
  }

  .event-detail-content {
    margin-top: var(--spacing-48);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);

    .event-detail-box {
      width: 100%;
      display: grid;
      gap: var(--spacing-24);
      grid-template-columns: 3fr 1fr;

      .left-section {

      }

      .right-section {
        display: flex;
        padding: var(--spacing-16);
        gap: var(--spacing-16);
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .map-box {
          width: 100%;
          height: var(--min-map-height);
        }

        .address-box {
          display: flex;
          gap: var(--spacing-12);
          align-items: center;
        }
      }
    }

    .agenda-section {
      margin-top: var(--spacing-24);
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);

      .tabs {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-24);
      }

      .agenda-detail-section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-48);

        .agenda-detail-item {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: flex-start;
          gap: var(--spacing-8);

          .date {
            display: flex;
            gap: var(--spacing-8);
            padding: var(--spacing-4) var(--spacing-8);
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            background: #FFF7E3;
            border-radius: var(--border-radius-25);
          }
        }
      }
    }

    .member-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
      margin-top: var(--spacing-24);

      .event-coordinator {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: var(--spacing-16);

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 1px solid black;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) {
//  .temple-detail-section {
//    .temple-detail-content {
//      .temple-detail-box {
//        display: flex !important;
//        flex-direction: column !important;
//      }
//    }
//  }
//}
//
//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) {
//  .temple-detail-section {
//    .temple-detail-content {
//      .temple-detail-box {
//        display: grid;
//        grid-template-columns: 3fr 1fr;
//      }
//    }
//  }
//}
//
//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) {
//  .temple-detail-section {
//    .temple-detail-content {
//      .temple-detail-box {
//        display: grid;
//        grid-template-columns: 3fr 1fr;
//      }
//    }
//  }
//}
//
//// X-Large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {
//  .temple-detail-section {
//    .temple-detail-content {
//      .temple-detail-box {
//        display: grid;
//        grid-template-columns: 3fr 1fr;
//      }
//    }
//  }
//}
//
//// XX-Large devices (larger desktops, 1400px and up)
//@media (min-width: 1400px) {
//  .temple-detail-section {
//    .temple-detail-content {
//      .temple-detail-box {
//        display: grid;
//        grid-template-columns: 3fr 1fr;
//      }
//    }
//  }
//}
