<form [formGroup]="formGroup" class="form-group">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><h4
          class="dark-text uppercase">{{id > 0 ? stringRes.TEMPLE_EDIT : stringRes.TEMPLE_CREATE}}</h4></mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-body">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TEMPLE_NAME}}</mat-label>
            <input type="text" #templeName placeholder="Enter temple name" formControlName="templeName"
                   matInput
                   required maxlength="{{inputLength.CHAR_100}}">
            <mat-hint align="end">{{templeName.value.length}} / {{inputLength.CHAR_100}}</mat-hint>
            <mat-error>
              <app-input-error [control]="formControl['templeName']"
                               [controlName]="stringRes.TEMPLE_NAME"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <angular-editor matInput formControlName="description" [config]="editorConfig"></angular-editor>
          <mat-error>
            <app-input-error [control]="formControl['description']"
                             [controlName]="stringRes.DESCRIPTION"></app-input-error>
          </mat-error>
        </div>
      </div>
      <app-file-selector [formGroup]="formGroup" [isMultiFile]="false"
                         [controlName]="'uploadFiles'"
                         [mediaFor]="mediaForEnum.TEMPLE"
                         [isRequired]="true"
                         [uploadedMediaList]="templeObj ? templeObj.imagePath : []"
                         [mediaType]="fileTypeEnum.IMAGE"></app-file-selector>
    </mat-card-content>
  </mat-card>

  <app-address-selector
    [formGroup]="formGroup"
    [addressModel]="templeObj ? templeObj.addressModel : null"
    [showLatLong]="true"
    [showAddressType]="false"></app-address-selector>

  <mat-card class="form-card">
    <mat-card-actions align="end">
      <button class="round-btn" mat-raised-button (click)="onCancel()">
        {{stringRes.CANCEL}}
      </button>
      <button class="round-btn gradient-btn" mat-raised-button color="primary" (click)="onSubmit()">
        {{id > 0 ? stringRes.UPDATE : stringRes.SAVE}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
