<ng-container *ngIf="type" [ngSwitch]="type">
  <lib-job-category *ngSwitchCase="'job-category'"></lib-job-category>
  <lib-job-sub-category *ngSwitchCase="'job-sub-category'"></lib-job-sub-category>
  <lib-job-type *ngSwitchCase="'job-type'"></lib-job-type>
  <lib-job-status *ngSwitchCase="'job-status'"></lib-job-status>

  <lib-city-village *ngSwitchCase="'city-village'"></lib-city-village>
  <lib-district *ngSwitchCase="'district'"></lib-district>
  <lib-state *ngSwitchCase="'state'"></lib-state>
  <lib-country *ngSwitchCase="'country'"></lib-country>

  <lib-service *ngSwitchCase="'service'"></lib-service>
  <lib-business *ngSwitchCase="'business'"></lib-business>

  <lib-gender *ngSwitchCase="'gender'"></lib-gender>
  <lib-caste *ngSwitchCase="'caste'"></lib-caste>
  <lib-relationship *ngSwitchCase="'relationship'"></lib-relationship>
  <lib-religion *ngSwitchCase="'religion'"></lib-religion>
  <lib-gotra *ngSwitchCase="'gotra'"></lib-gotra>
  <lib-raasi *ngSwitchCase="'raasi'"></lib-raasi>

  <lib-education-degree *ngSwitchCase="'education-degree'"></lib-education-degree>
  <lib-addition *ngSwitchCase="'addiction'"></lib-addition>
  <lib-marital-status *ngSwitchCase="'marital-status'"></lib-marital-status>
  <lib-matrimonial-status *ngSwitchCase="'matrimonial-status'"></lib-matrimonial-status>
  <lib-matrimonial-requested-status *ngSwitchCase="'matrimonial-requested-status'"></lib-matrimonial-requested-status>

  <lib-contact-type *ngSwitchCase="'contact-type'"></lib-contact-type>
  <lib-address-type *ngSwitchCase="'address-type'"></lib-address-type>

  <lib-faq-category *ngSwitchCase="'faq-category'"></lib-faq-category>

  <lib-post *ngSwitchCase="'post'"></lib-post>

</ng-container>
