@use "@angular/material" as mat;

$html-font-size: 16px;
@function stripUnit($value) {
  @return calc($value / ($value * 0 + 1px));
}

@function rem($pxValue) {
  @return #{calc(stripUnit($pxValue) / stripUnit($html-font-size))}rem;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$custom-primary-palette: (
  50: '#e8eaf6',
);

$custom-typography: mat.define-typography-config($font-family: "Roboto, sans-serif");
$custom-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 700);
$custom-accent: mat.define-palette(mat.$orange-palette, 500, 100, 700);
$custom-warn: mat.define-palette(mat.$red-palette, 500, 100, 700);

$light-theme: mat.define-light-theme(
    (color:(
      primary:$custom-primary,
      accent: $custom-accent,
      warn:$custom-warn
    ),
      typography: mat.define-typography-config(),
      density: 0,
    )
);
$dark-theme: mat.define-dark-theme(
    (color:(
      primary:$custom-primary,
      accent: $custom-accent,
      warn:$custom-warn
    ),
      typography: mat.define-typography-config(),
      density: 0,
    )
);

body.light-theme {
  @include mat.all-component-themes($light-theme);
}

body.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

@include mat.all-component-themes($light-theme);

.form {
  .form-row {
    display: flex;
    flex-direction: row;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8);
  }
}
