<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
  <div class="form-item"
       fxFlex="calc(10%)"
       fxFlex.lt-lg="calc(10%)"
       fxFlex.lt-md="calc(10%)"
       fxFlex.lt-sm="10%">
    <mat-label>{{stringRes.CHOOSE_FILE}}</mat-label>
  </div>
  <div class="form-item"
       fxFlex="calc(90%)"
       fxFlex.lt-lg="calc(90%)"
       fxFlex.lt-md="calc(90%)"
       fxFlex.lt-sm="90%">
    <div
      class="file-upload-box"
      appImageDrag
      (files)="filesDropped($event)">
      <mat-icon>cloud_upload</mat-icon>
      <span style="font-size: 25px;">{{stringRes.DRAG_DROP_FILE}}</span>
      <input #fileInput type="file" hidden (change)="selectFile($event)">
      <span style="font-size: 14px; font-weight: 500">OR</span>
      <button type="button" (click)="fileInput.click()" mat-raised-button class="gradient-btn">Select File</button>
    </div>
    <div style="margin-top: 20px;" class="file-upload-list">
      <div *ngFor="let file of uploadedFiles; let i = index;" class="file-upload-list-item">
        <img [src]="file.url"/>
        <div class="file-upload-list-text">
          <span class="title" *ngIf="file.file">{{file.file.name}}</span>
          <span class="size" *ngIf="file.file">{{getFileSize(file.file.size)}}</span>
          <span class="title" *ngIf="!file.file">{{file.name}}</span>
          <span class="size" *ngIf="!file.file">{{getFileSize(file.size)}}</span>
          <mat-progress-bar
            class="example-margin"
            [color]="'primary'"
            [mode]="'determinate'"
            [value]="file.progress">
          </mat-progress-bar>
          <span *ngIf="file.fileUpdateStatus === 1" class="primary-text">file uploaded successfully</span>
          <span *ngIf="file.fileUpdateStatus === -1" class="warn-text">file upload failed, please again</span>
          <span *ngIf="file.fileUpdateStatus === 0">file upload in progress</span>
        </div>
        <button mat-icon-button type="button" color="warn" (click)="removeItem(i)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
