@import "../../../../theme/padding";

.date-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.date-w-icon {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: $padding-medium;

  .header {
    text-transform: uppercase;
  }

  .title {
    display: flex;
    align-content: center;
    flex-direction: row;
    gap: 5px;

    mat-icon {
      font-size: 18px !important;
      width: 18px;
      height: 18px;
    }
  }
}
