<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon fontSet="material-icons-outlined" class="tab-iconn">person</mat-icon>
        Account
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon fontSet="material-icons-outlined" class="tab-icon">lock</mat-icon>
        Security
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon fontSet="material-icons-outlined" class="tab-icon">fact_check</mat-icon>
        Permissions
      </ng-template>
      Content 1
    </mat-tab>
  </mat-tab-group>
</mat-card>
