<mat-card class="form-card" *ngIf="dataLoaded">
    <form *ngIf="formGroup" [formGroup]="formGroup">
        <mat-card-title><h1 class="p-b-large">{{stringRes.MY_PROFILE}}</h1></mat-card-title>
        <mat-card-content class="form-body">
            <div class="form-grid">
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.FIRST_NAME}}</mat-label>
                        <input type="text" #firstName placeholder="Enter first name" formControlName="firstName"
                               matInput
                               required maxlength="{{inputLength.MAX_NAME}}">
                        <mat-hint align="end">{{firstName.value.length}} / {{inputLength.MAX_NAME}}</mat-hint>
                        <mat-error>
                            <app-input-error [control]="formControl['firstName']"
                                             [controlName]="stringRes.FIRST_NAME"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.LAST_NAME}}</mat-label>
                        <input type="text" #lastName placeholder="Enter last name" formControlName="lastName" matInput
                               required maxlength="{{inputLength.MAX_NAME}}">
                        <mat-hint align="end">{{lastName.value.length}} / {{inputLength.MAX_NAME}}</mat-hint>
                        <mat-error>
                            <app-input-error [control]="formControl['lastName']"
                                             [controlName]="stringRes.LAST_NAME"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-grid">
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.EMAIL_ID}}</mat-label>
                        <input type="email" placeholder="Enter email id" formControlName="emailId" matInput
                               required>
                        <mat-error>
                            <app-input-error [control]="formControl['emailId']"
                                             [controlName]="stringRes.EMAIL_ID"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.CONTACT_NUMBER}}</mat-label>
                        <input type="text" placeholder="Enter mobile number" formControlName="contactNo" matInput
                               required>
                        <mat-error>
                            <app-input-error [control]="formControl['contactNo']"
                                             [controlName]="stringRes.CONTACT_NUMBER"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.VILLAGE}}</mat-label>
                        <mat-select formControlName="cityVillageId" required>
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let o of cityVillageList" [value]="o.id">{{o.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <app-input-error [control]="formControl['cityVillageId']"
                                             [controlName]="stringRes.VILLAGE"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-grid">
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.START_DATE}}</mat-label>
                        <input type="text" placeholder="Select start date" formControlName="startDate" matInput
                               required>
                        <mat-error>
                            <app-input-error [control]="formControl['startDate']"
                                             [controlName]="stringRes.START_DATE"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.END_DATE}}</mat-label>
                        <input type="text" placeholder="Select end date" formControlName="endDate" matInput>
                        <mat-error>
                            <app-input-error [control]="formControl['endDate']"
                                             [controlName]="stringRes.END_DATE"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.ROLE}}</mat-label>
                        <mat-select formControlName="roleId" required>
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let o of adminRoleList" [value]="o.id">{{o.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <app-input-error [control]="formControl['roleId']"
                                             [controlName]="stringRes.ROLE"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-grid">
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.STATUS}}</mat-label>
                        <mat-select formControlName="statusId" required (selectionChange)="onStatusChange()">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let o of adminStatusList" [value]="o.id">{{o.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <app-input-error [control]="formControl['statusId']"
                                             [controlName]="stringRes.STATUS"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-item" style="flex-grow:2">
                    <mat-form-field>
                        <mat-label>{{stringRes.REASON}}</mat-label>
                        <textarea placeholder="Reason for change status of user" #deactiveReason
                                  rows="3"
                                  formControlName="deactiveReason" matInput></textarea>
                        <mat-hint align="end">{{deactiveReason.value.length}} / {{inputLength.CHAR_500}}</mat-hint>
                        <mat-error>
                            <app-input-error [control]="formControl['deactiveReason']"
                                             [controlName]="stringRes.REASON"></app-input-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </form>
    <mat-card-actions align="end">
        <button class="round-btn" mat-raised-button (click)="onCancel()">
            {{stringRes.CANCEL}}
        </button>
        <button class="round-btn gradient-btn" mat-raised-button color="primary" (click)="onSubmit()">
            {{stringRes.UPDATE}}
        </button>
    </mat-card-actions>
</mat-card>