<div class="facility-list-section">
  <shared-ui-lib-uikit-banner [banner]="banners"></shared-ui-lib-uikit-banner>
  <div class="facility-list-content main-section">
    <shared-ui-lib-uikit-label *ngIf="pageTitle" [class]="['mat-headline-3']"
                               [label]="pageTitle"></shared-ui-lib-uikit-label>
    <div class="divider divider-line"></div>
    <ng-container *ngIf="dataSet && dataSet.data && dataSet.data.length>0">
      <vsd-web-app-facility-card [facilities]="dataSet.data"></vsd-web-app-facility-card>
    </ng-container>
  </div>
</div>
