<mat-card *ngIf="familyProfile" class="mat-card-header-w-border">
  <mat-card-header>
    <mat-card-title>
      <h5>{{stringRes.PERSONAL_DETAIL}}</h5>
    </mat-card-title>
    <button mat-raised-button class="btn gradient-btn" (click)="editFamily()">
      <mat-icon>edit</mat-icon>{{stringRes.EDIT_PROFILE}}
    </button>
  </mat-card-header>
  <div class="m-t-medium">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
      <div fxFlex="calc(100%)"
           fxFlex.lt-lg="calc(100%)"
           fxFlex.lt-md="calc(100%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.ABOUT}}</h6>
        <span
          class="info">{{familyProfile.description ? familyProfile.description : 'N/A'}}
        </span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.DOB}}</h6>
        <span class="info">{{familyProfile.dateOfBirth ? familyProfile.dateOfBirth : 'N/A'}}</span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.GENDER}}</h6>
        <span class="info">{{familyProfile.gender ? familyProfile.gender : 'N/A'}}</span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.MARITAL_STATUS}}</h6>
        <span class="info">{{familyProfile.maritalStatus ? familyProfile.maritalStatus : 'N/A'}}</span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.GOTRA}}</h6>
        <span class="info">{{familyProfile.gotra ? familyProfile.gotra : 'N/A'}}</span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.CASTE}}</h6>
        <span class="info">{{familyProfile.caste ? familyProfile.caste : 'N/A'}}</span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.RAASI}}</h6>
        <span class="info">{{familyProfile.raasi ? familyProfile.raasi : 'N/A'}}</span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.MAGLIK}}</h6>
        <span
          class="info">{{familyProfile.isMaglik === null ? 'N/A' : familyProfile.isMaglik ? stringRes.YES : stringRes.NO}}
        </span>
      </div>

      <div fxFlex="calc(50%)"
           fxFlex.lt-lg="calc(50%)"
           fxFlex.lt-md="calc(50%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.MONTHLY_INCOME}}</h6>
        <span
          class="info">{{familyProfile.monthlyIncome ? familyProfile.monthlyIncome : 'N/A'}}
        </span>
      </div>

      <div fxFlex="calc(100%)"
           fxFlex.lt-lg="calc(100%)"
           fxFlex.lt-md="calc(100%)"
           fxFlex.lt-sm="100%"
           class="responsive-table-item">
        <h6>{{stringRes.HOBBIES}}</h6>
        <mat-chip-list *ngIf="familyProfile.hobbies && familyProfile.hobbies.length > 0">
          <mat-chip *ngFor="let ho of familyProfile.hobbies">{{ho}}</mat-chip>
        </mat-chip-list>
        <span class="info" *ngIf="!familyProfile.hobbies || familyProfile.hobbies.length === 0">{{'N/A'}}
        </span>
      </div>
    </div>
  </div>
</mat-card>
